/* 新闻开始 */
.contleft { float:left; width:670px; height:auto; overflow:hidden; margin-top:15px;}
.news { float:left; width:670px; height:328px;}
/* 新闻结束 */
/* 登录开始 */
.contright { float:right; width:273px; height:auto; overflow:hidden; margin-top:15px;}
.register { float:left; width:273px; height:328px;}
.regtitle { padding:0 0 0 10px; width:273px; height:34px; background:url(../images/register.jpg) no-repeat; font: normal bold 14px/34px arial,sans-serif; color:#fff;}
.regcont { padding:18px 22px; width:227px; height:257px; background:#fff; border:1px solid #e6e6e6; border-top:none;}
.regcont h6 { font: normal 12px/24px arial,sans-serif; text-indent:2em;}
.cang { width:227px; height:16px; line-height:16px; color:#f00; visibility:hidden;}
.regcont dl { width:227px;}
.regcont dl dt { width:227px; height:26px; font: normal bold 12px/26px arial,sans-serif; }
.regcont dl dd { width:227px; height:32px;}
.reginput { float:left; width:220px; height:32px; line-height:32px; padding-left:6px; background:url(../images/regin.jpg) no-repeat; border:none;}
.wangji { width:227px; height:30px;}
.wangji a { color:#666; line-height:30px;}
.wangji a:hover {  color:#1c7fd2; text-decoration:underline;}
.regbtn { width:227px; height:34px;}
.regbtn button { width:88px; height:34px; background:url(../images/bg02.png) 0 -41px no-repeat; border:none; font: normal bold 15px/34px arial,sans-serif; color:#fff; cursor:pointer;}
/* 登录结束 */
.adbar{ float:left; margin:15px 0 0 0; width:960px; height:86px;}
/* 网络服务开始 */
.wlfuwu { width:670px; height:425px;}
.wltitle { width:100%; height:43px; background:url(../images/bg01.png) 0 -43px repeat-x;}
.wlfront { float:left; padding-left:15px; width:163px; height:43px; background:url(../images/main_left.jpg) no-repeat; font: normal bold 15px/43px arial,sans-serif; color:#fff;}
.wltitle a { float:right; margin:15px 10px 0 0; width:37px; height:12px;}
.wlback { float:right; margin-right:0; width:8px; height:43px;}
.wlul { float:left; margin-top:15px; width:738px; height:367px; overflow:hidden;}
.wlul li { float:left; margin-right:22px; padding:10px 18px; width:170px; height:345px; overflow:hidden; border:1px solid #e6e6e6; border-radius: 2%; background:#fff url(../images/wlbg.jpg) repeat-x top;}
.wlul li h4 { width:170px; height:46px; font: normal bold 15px/46px arial,sans-serif; text-align:center;}
.wlul li p{ width:170px; height:100px; overflow:hidden; font: normal 12px/20px arial,sans-serif;}
.wlul li img { width:170px; height:148px; margin-top:25px;}
/* 网络服务结束 */
/* 创业支撑开始 */
.cyzc { margin-top:15px; width:670px; height:280px;}
dl.zcdl { margin-top:15px; width:668px; height:100px; border:1px solid #e6e6e6; background:#fff;}
dl.zcdl dt { float:left; margin-right:10px;}
dl.zcdl dt img { margin:10px 0 0 10px; width:99px; height:90px;}
dl.zcdl dd { float:left; width:520px;}
dl.zcdl dd h4 { width:520px; height:40px; font: normal bold 14px/46px arial,sans-serif;}
dl.zcdl dd h4 a { color:#474747;}
dl.zcdl dd h4 a:hover { color:#4e7b06;}
dl.zcdl dd p { width:520px; height:40px; overflow:hidden; font: normal 12px/20px arial,sans-serif; color:#747474;}
/* 创业支撑结束 */
/* 人才库开始 */
.rencai { width:273px; height:368px;}
.rctitle { width:273px; height:43px; background:url(../images/ku.jpg) no-repeat; font: normal bold 20px/43px "微软雅黑",arial,sans-serif; color:#fff; text-align:center;}
.rcku { margin-top:15px; width:263px; height:300px; background:#fff; border:5px solid #d2d2d2;}
ul.rcul { margin-left:18px !important; margin-left:8px; width:245px !important; width:238px; height:260px; float:left;}
ul.rcul li { float:left; margin:15px 16px 0 0 !important; margin:15px 12px 0 0; width:105px; height:110px;}
.kumore { float:left; margin-left:163px !important; margin-left:78px; width:80px; height:26px; text-align:center; font: normal 14px/26px arial,sans-serif; background:#6fab0e; border-radius:10%; color:#fff;}
.kumore a, .kumore a:link, .kumore a:active, .kumore a:visited { display:block; color:#fff; }
.kumore a:hover { display:block; color:#fff; }
/* 人才库结束 */
/* 专家库开始 */
.zhuanjia { margin-top:15px; width:273px !important; width:200px; height:338px;}
.zjku { margin-top:15px; width:263px; height:268px !important; height:274px; background:#fff; border:5px solid #d2d2d2;}
dl.rcdl { float:left; margin:5px 0 8px 10px !important; margin:5px 0 8px 5px; padding:0 0 10px 0 !important; padding:2px 0 10px 0; width:245px; height:90px; border-bottom:1px dashed #ccc;}
dl.rcdl dt { float:left; width:75px; height:90px; margin-right:15px;}
dl.rcdl dd { float:left; width:150px; height:90px; overflow:hidden;}
dl.rcdl dd h4 { height:26px; font: normal 12px/20px arial,sans-serif;}
dl.rcdl dd p { height:60px; overflow:hidden; font: normal 12px/20px arial,sans-serif;}
/* 专家库结束 */
/* 科技成果开始 */
.chengguo { float:left; margin:15px 0 0 0; width:960px; height:190px;}
ul.cgku { margin-top:10px; padding:10px 0; width:958px; height:112px; background:#fff; border:1px solid #e6e6e6;}
ul.cgku li { float:left; margin-left:20px !important; margin-left:10px; width:450px; height:28px; overflow:hidden; background:url(../images/icon.jpg) 0 11px no-repeat;}
ul.cgku li a, ul.cgku li a:link, ul.cgku li a:active, ul.cgku li a:visited { float:left; margin-left:13px; font: normal 14px/28px arial,sans-serif; color:#474747;}
ul.cgku li a:hover { float:left; margin-left:13px; font: normal 14px/28px arial,sans-serif; color:#6fab0e;}
/* 科技成果结束 */
/* 友情链接开始 */
.friendlink { float:left; width:960px; height:120px; margin-top:15px;}
.fltitle { float:left; padding:5px 15px; width:16px; height:110px; font: normal bold 14px/26px arial,sans-serif; background:#6fab0e; color:#fff;}
ul.flink { float:left; padding:20px 20px; width:872px; height:78px; overflow:hidden; background:#fff; border:1px solid #e6e6e6;}
ul.flink li { display:block; float:left; margin-right:20px; white-space:nowrap;}
ul.flink a, ul.flink a:link, ul.flink a:active, ul.flink a:visited { display:block; font: normal 14px/30px arial,sans-serif; color:#474747;}
ul.flink a:hover { font-weight:bold; text-decoration:underline; color:#6fab0e;}
/* 友情链接结束 */





